/* Reset */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-position: center center;

}

/* Global body styles */
body {
  /* font-family: 'Roboto', sans-serif; */
  background-color: #f5f7f9;
  color: #4A4A4A;
}

sub {
  vertical-align: baseline !important;
  font-size: smaller !important;
  }
/* Header styles */
.header {
  /* background-color: #f5f7f9; */
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: transparent;
  backdrop-filter: none;
  /* border: 1px solid blue; */
}

.Logo{
  display: flex;
  margin: 0;
  /* border: 1px solid blue; */
  margin: 0 10px;
  font-size: 2.1rem;
  font-weight: 400;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  /* border: 1px solid blue; */
  justify-content: right;

}

.nav__item {
  margin: 0 10px;
  font-size: 1.0rem;
  font-weight: 500;
  /* text-transform: uppercase; */
  /* border: 1px solid red; */

}

.nav__item a {
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav__item a:hover {
  color: #009448;
}

/* Footer styles */
.footer {
  /* background-color: #f5f7f9; */
  padding: 1rem;
  text-align: center;
  /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); */
}

.footer__text {
  font-size: 1rem;
}
