.home-background {
  /* background-color: #F0F2F5; */
}

.home {
  max-width: 1200px;
  /* margin: 0 auto; */
}


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;

}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.hero h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-align: left;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  max-width: 660px;
 }

.cta-button {
  font-size: 1.2rem;
  background-color: #848484;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.cta-button:hover {
  background-color: #363636;
}