.home-background {
  background-color: #F0F2F5;
}

.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
}

.hero {
  text-align: center;
  margin: 80px 0;
}

.hero__title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 1.5rem;
  color: #7C7C7C;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.feature {
  width: 300px;
  padding: 20px;
  margin-right: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.feature__title {
  font-size: 1.5rem;
}