/* Style for sensor data item */
.sensor-data-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Style for sensor data color circle */
.sensor-data-color {
  width: 20px; /* Adjust width of the circle */
  height: 20px; 
  border-radius: 50%; /* Make it a circle */
  margin-right: 10px; /* Add some margin to separate it from the text */
  }
  
  /* Style for sensor data text */
  .sensor-data-item p {
  margin: 0;  
  }

  .sensor-data {
    width: 350px; 
    }
    

/* Plant room container */
.plant-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 10vh; */
  /* background-color: #f5f7f9; */
  font-family: 'Roboto', sans-serif;
  /* padding: 50%; */

}

.resources{
  height: 500px;
 
}

/* Plant room content wrapper */
.plant-room__content {
  display: flex; /* Add this line */
  flex-wrap: wrap; /* Add this line */
  max-width: 450px;
  width: 100%;
  gap: 20px; /* Add this line */
  /* padding: 50px; */
  
}



/* Plant room title styles */
.plant-room__title, h2, h1 {
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%; /* Add this line */
}

/* Sensor data container */
.sensor-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
  flex: 1; /* Add this line */
}

/* Individual sensor data text */
.sensor-data p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  padding-right: 25px;
  padding-left: 25px;

  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50px;
  text-align: center;
}

.sensor-data p span {
  font-weight: bold;
  margin-top: 20px;
}

/* P5 canvas container */
.p5-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Add this line */
}

/* Add your other styles here */

@media (max-width: 768px) {
  /* Add your media query styles here */
}


