/* Plant room container */
.plant-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 10vh; */
  /* background-color: #f5f7f9; */
  font-family: 'Roboto', sans-serif;
}

/* Plant room content wrapper */
.plant-room__content {
  display: flex; /* Add this line */
  flex-wrap: wrap; /* Add this line */
  max-width: 1200px;
  width: 100%;
  gap: 20px; /* Add this line */
}

/* Plant room title styles */
.plant-room__title {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 2px;
  padding: 40px;
  width: 100%; /* Add this line */
}

/* Sensor data container */
.sensor-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;
  flex: 1; /* Add this line */
}

/* Individual sensor data text */
.sensor-data p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.0rem;
  padding: 0px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50px;
  text-align: center;
}

.sensor-data p span {
  font-weight: bold;
  margin-top: 20px;
}

/* P5 canvas container */
.p5-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Add this line */
}

/* Add your other styles here */

@media (max-width: 768px) {
  /* Add your media query styles here */
}
